@page "{id:int}"
@model CRUD.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post">
    @if (ModelState.ErrorCount > 0)
    {
        <div asp-validation-summary="All" class="alert alert-danger">
        </div>
    }
    <input asp-for="Customer.Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.Age"></label>
        <input asp-for="Customer.Age" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
