@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Configuration["AppSettings:BroadCastMsg"]))
{
    <div class="jumbotron text-center">
        <h1>@Configuration["AppSettings:BroadCastMsg"]</h1>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Convert.ToBoolean(Configuration["AppSettings:ShowVideo"]))
{
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I1Hqf28kHYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}
